* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(156, 206, 176), rgb(125, 152, 224));
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    padding: 0.5rem;
}

.notice {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    background-color: hotpink;
}

p {
    /* display: inline; */
    font-size: 1.4rem;
    margin-bottom: 0;
}

h1 {
    font-size: 3rem;
    margin: 0.4rem;

}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
    margin: 0.4rem;
}

#welcome {
    width: 100%;
}

input {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.6rem;
    background-color: lavender;
    width: 30rem;
    max-width: 90%;
}

input[type="submit"] {
    margin: 0.35rem;
    border: none;
}

button {
    font-size: 1.4rem;
    margin: 0.4rem;
    padding: 0.4rem;
    border: solid 2px rgb(21, 21, 22);
}

#first-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00000050;
    padding: 0.4rem;
}

#submit-btn-1 {
    margin-top: 2.4rem;
    background: hotpink;
}

#stopwatch-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div[id*='presenter_'] {
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#timer, .timer {
    font-size: 4.5rem;
    text-align: center;
    line-height: 6rem;
    margin: 1rem;
    justify-content: center;
    flex-direction: column;
}

.display-flex {
    display: flex;
}

.hidden {
    display: none;
}

.selected {
    border-style: double;
    border-color: hotpink;
    background-color: hotpink;
}

.normal {
    background-color: rgba(10, 10, 233, 0.15);
    border-style: dotted;
}

@media only screen and (max-width: 950px) {
    #timer, .timer {
        font-size: 2.4rem;
        line-height: 4rem;
        margin: 0.4rem;
    }

    div[id*='presenter_'] {
        padding: 0.4rem;
        margin: 0.4rem;
    }

    span {
        padding: 0;
        margin: 0;
        line-height: 3rem;
    }
}