/* 
smoky black: 080708 
peach: ffc09f 
electric lavender: f6c9ff
blue (crayola): 3772ff
pastel purple: c19ab7


*/

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#ffc09f, #f6c9ff);
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    padding: 0.5rem;
}

.notice {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    /* hotpink: #ff69b4 */
    background-color: #ff69b475; 
}

p {
    /* display: inline; */
    font-size: 1.4rem;
    margin-bottom: 0;
}

h1 {
    font-size: 3rem;
    margin: 0.4rem;

}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
    margin: 0.4rem;
}

#welcome {
    width: 100%;
}

input {
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.6rem;
    background-color: #ffffff75;
    width: 30rem;
    max-width: 90%;
}

input[type="submit"] {
    margin: 0.35rem;
    border: none;
}

button {
    font-size: 1.4rem;
    margin: 0.4rem;
    padding: 0.4rem;
    border: solid 2px rgb(21, 21, 22);
    border-radius: 5px;
    width: 90%;
    max-width: 40rem;
    align-self: center;
}

#first-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00000050;
    padding: 0.4rem;
}

#submit-btn-1 {
    margin-top: 2.4rem;
    background: #c19ab7;
}

#stopwatch-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div[id*='presenter_'] {
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#timer, .timer {
    font-size: 4.5rem;
    text-align: center;
    line-height: 6rem;
    margin: 1rem;
    justify-content: center;
    flex-direction: column;
}

.display-flex {
    display: flex;
}

.hidden {
    display: none;
}

.selected {
    border-style: solid;
    border-color: #080708;
    background-color: #3772ff;
}

.normal {
    background-color: #3772ff50;
    border-style: dotted;
}

@media only screen and (max-width: 950px) {
    #timer, .timer {
        font-size: 2.4rem;
        line-height: 4rem;
        margin: 0.4rem;
    }

    div[id*='presenter_'] {
        padding: 0.4rem;
        margin: 0.4rem;
    }

    span {
        padding: 0;
        margin: 0;
        line-height: 3rem;
    }
}