* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#79d29c, #4062bf);
    width: 90vw;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    padding: 1.4rem;
}

/* .notice {
    color: mediumvioletred;
    font-weight: bold;
} */

.notice {
    font-size: 1.75rem;
    color: #000000;
    background-color: hotpink;
    font-weight: bold;
}

p {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

h1 {
    font-size: 2.8rem;
    text-shadow: 0 0 2.8rem lavenderblush;
    /* such a pointless text shadow lol */
}

input {
    font-size: 1.4rem;
    background-color: lavender;
}

#welcome {
    width: 100%;
}

input {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 3px;
    text-align: center;
}

input[type="submit"] {
    margin: 0.35rem;
    border: none;
}

button {
    /* put stuff here */
}

#stopwatch-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div[id*='person_'] {
    background-color: rgba(10, 10, 233, 0.15);
    padding: 1rem;
    margin: 0.5rem;
    border-style: dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p[id*='time-taken'] {
    text-align: center;
    font-size: 2.8rem;
}

/* button[id*='start-btn'] {
    background-color: rgba(10, 10, 233, 0.15);
    padding: 0.5rem;
    margin: 0.5rem;
    border-style: dotted;
    font-size: 1.4rem;
} */

.start-btn {
    background-color: rgba(238, 105, 52, 0.35);
    padding: 0.5rem;
    margin: 0.5rem;
    border-style: dotted;
    font-size: 1.4rem;
}